    
  
  
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Pandemic Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        <a class="nav-link" href="/users">User Page</a>
         </li>
           <li class="nav-item">
      </li>
      </ul>
  
     
    </div>
  </nav>
  <div class="container">





<img src="https://www.cdc.gov/handwashing/images/GettyImages-514363103-medium.jpg" width="200" height="200"
  alt="Im a bannan">
<img src="https://www.mydoorsign.com/img/lg/S/wash-hands-sign-s-5625.png" width="200" height="200" alt="Im a bannan">
<img src="https://benefitsbridge.unitedconcordia.com/wp-content/uploads/2017/09/washingofhandswithsoapun_471045.jpg"
  width="200" height="200">
<img src="https://www.mydoorsign.com/img/lg/S/wash-hands-sign-s-5625.png" width="200" height="200" alt="Im a bannan">
<img src=" https://www.rd.com/wp-content/uploads/2019/04/wash-hands.jpg" width="200" height="200">

<img src="https://www.mydoorsign.com/img/lg/S/wash-hands-sign-s-5625.png" width="200" height="200" alt="Im a bannan">
<img src="https://benefitsbridge.unitedconcordia.com/wp-content/uploads/2017/09/washingofhandswithsoapun_471045.jpg"
  width="200" height="200">
<img src="https://www.mydoorsign.com/img/lg/S/wash-hands-sign-s-5625.png" width="200" height="200" alt="Im a bannan">
<img src="https://www.cdc.gov/handwashing/images/GettyImages-514363103-medium.jpg" width="200" height="200"
  alt="Im a bannan">
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <div class="jumbotron jumbotron-fluid ">
          <div class="container">
            <h2 class="display-4">Pandemic portal</h2>

        
            {{!-- <p class="lead">it sucks...</p> --}}
          </div>
          <div class="text-box">
            <form class = "clearfix mb-4" action="POST">
              <div class="form-group">
                 <h3>Email address</h3>
                <input type="email" class="form-control" id="txtEmail" aria-describedby="emailHelp">
              
              </div>
              <div class="form-group">
                <h3>Password</h3>
                <input type="password" class="form-control" id="txtPassword">
              </div>
              <a href=#><button id="btnLogin" class="btn btn-primary">Login</button> </a>
              <a href=#><button id="btnSignUp" class="btn btn-secondary">Sign Up</button> </a>
              <a href=#><button id="btnLogout" class="btn btn-action hide">Log Out</button> </a>

            </form>
          </div>


            {{!-- We need to publically give credit to JHU. someone figure out how to throw the text on the page for this above the widget --}}

          <iframe width="450" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                   
            title="2019-nCoV"  
            src="//arcgis.com/apps/Embed/index.html?webmap=14aa9e5660cf42b5b4b546dec6ceec7c&extent=77.3846,11.535,163.5174,52.8632&zoom=true&previewImage=false&scale=true&disable_scroll=true&theme=light">
          </iframe> <h6 style="margin-left: 100px;">*The map above is from JHU github*</h6>
          {{!-- {{ The above module was created by John's hopkins university. For more information please visit the following address: https://coronavirus.jhu.edu/map.html}} --}}
          {{!-- <h3>Examples:</h3> --}}
         
          <div class="box-2">
        <h3>World news on covid-19 from the New york times</h3>
            <ul id="example-list" class="list-group" style="width: 500px; height: 500px; overflow: auto">
              {{#each examples}}
              <li data-id="{{this.id}}" class="list-group-item">
                <a href="example/{{this.id}}">{{this.text}}</a>
                <button class="btn btn-danger float-right delete">ｘ</button>
              </li>
              {{/each}}
              <ul id="example-list" class="list-group">
                {{#each articles}}
                <li data-id="{{this.title}}" class="list-group-item">
                  <a href="{{this.url}}">{{this.title}}</a>
                  <button class="btn btn-danger float-right delete">ｘ</button>
                </li>
                {{/each}}
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-app.js"></script>
