
<h2>Hello {{user.name}}!</h2>
<hr>
{{#if recipes.favorites}}
  <h3>Your Favorite Recipes</h3>
  <div class="card-columns">
   {{#each recipes.favorites}}
    <div class="favs" id={{this.id}}>
      <div class="card mt-2">
        <img src="{{this.imageSrc}}" alt="recipe image unavailable" class="card-img-top img-thumbnail rounded">
        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
          <p class="card-text">
            <a href="{{this.description}} target="_blank"">{{this.description}}</a>
          </p>
        </div>
      </div>
    </div>
   {{/each}}
  </div>
{{else}}

{{/if}}

<hr>
{{#if recipes.recommend}}
  <h3>Recommended Recipes</h3>
  <div class="card-columns">
   {{#each recipes.recommend}}
    <div class="favs" id={{this.id}}>
      <div class="card mt-2">
        <img src="{{this.imageSrc}}" alt="recipe image unavailable" class="card-img-top img-thumbnail rounded">
        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
          <p class="card-text">
            <a href="{{this.description}}" target="_blank">{{this.description}}</a>
          </p>
        </div>
      </div>
    </div>
   {{/each}}
  </div>
{{!-- {{else}} --}}
  {{!-- <h3>No recipe recommendations generated yet</h3> --}}
{{/if}}

<hr>
{{#if recipes.posted}}
  <h3>Recipes You Have Posted</h3>
  <div class="card-columns">
    {{#each recipes.posted}}
      <div class="favs" id={{this.id}}>
        <div class="card mt-2">
          <img class="card-img-top" src="{{this.imageSrc}}" alt="recipe image unavailable">
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">
              <a href="{{this.description}}" target="_blank">{{this.description}}</a>
            </p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{else}}
  <h4>You haven't posted any recipe</h4>
{{/if}}
